<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



</head>
<body>

    {% include 'navbar.html' %}

    <div class="container">
        <h2 class="page-title">Contact</h2>

        <div class="card">
            <p>Email: nu9661@srmist.edu.in</p>
            <p>Phone: +91 7857826159</p>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
